.financicalGroupBtnButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 8px;
  background: var(--primary-light);
  border: 1px solid var(--border);
  border-radius: 11px;
  cursor: pointer;
  margin-right: 8px;
}

.financicalGroupBtnButtonActive {
  background-color: var(--ascend-default);
}

.financicalGroupBtnButton:hover {
  background-color: var(--ascend-default);
}

.financicalTool{
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  height: 24px;
}

.financicalGroupBtn {
  display: flex;
}

.financicalSelect {
  width: 120px;
  padding: 4px 8px;
  outline: none;
  background: var(--primary-light);
  border: 1px solid var(--border);
}

.financicalSelectOption {
  padding: 8px 66px;
}

.financicalInfoTable {
  display: flex;
  font-family: 'Roboto';
  margin-bottom: 8px;
  justify-content: space-between;
}

.financicalInfoFinancial {
  margin-left: 16px;
  font-size: 12px;
  color: var(--secondary-dark);
}

.financicalInfoFinancial span {
  font-size: 12px;
  color: var(--secondary-dark);

}

.financicalInfo {
  display: flex;
  align-items: center;
}

.financicalInfoIncome {
  font-size: 16px;
  color: var(--secondary-dark);
}

.financicalInfoTableBtnEpCo {
  border: none;
  background: var(--primary-dark);
  color: var(--secondary-default);
  cursor: pointer;
}

.noDataContainer {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  padding: 46px 0;
  font-size: 14px;
  font-weight: 400;
}