.holderGroupBtnButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 8px;
  background: var(--primary-light);
  border: 1px solid var(--border);
  border-radius: 11px;
  cursor: pointer;
  margin-right: 8px;
}

.holderGroupBtnButtonActive {
  background-color: var(--ascend-default);
}

.holderGroupBtnButton:hover {
  background-color: var(--ascend-default);
}

.holderTool {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  height: 24px;
}

.holderGroupBtn {
  display: flex;
}

.titleTable,
.titleNameTable {
  padding: 8px;
}

.titleTable p,
.titleNameTable p {
  color: var(--secondary-dark);
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto";
  margin: 0;
}

.titleNameTable p {
  font-size: 14px;
}

.firstTableEmpty {
  background-color: var(--primary-default);
  font-family: "Roboto";
  padding: 8px;
  margin-bottom: 1px;
}
.firstTableEmpty p {
  color: var(--secondary-dark);
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.columnFistTableInsider {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 2px;
}

.columnFistTableInsider p {
  margin: 0;
  font-size: 14px;
}

.columnFistTableInsider p:first-child {
  color: #3b9dff;
}
